@font-face {
  font-family: 'Big Noodle Titling';
  src: url(fonts/big_noodle_titling.ttf) format('truetype');
}

@font-face {
  font-family: 'Big Noodle Titling Oblique';
  src: url(fonts/big_noodle_titling_oblique.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Big Noodle Titling Oblique';
  font-size: 2em;
  text-align: center;
  background: #43484c;
}

.hero-card {
  text-align: center;
  margin: 15px;
  border-radius: 8px;
  padding: 12px;
  position: relative;
  background: #405275;
  color: #F2F2F2;
  z-index: 1;
}

.hero-card img {
  width: 80%;
}

.hero-card:hover {
  cursor: pointer;
}

.hero-gallery {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.role {
  z-index: 10;
}

.role-icon {
  max-width: 25%;
  position: absolute;
  left: 0;
  top: 0px;
}

.roles {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  color: #FA9C1D;
}

.role .text {
  margin-left: 8px;
}

.role:hover {
  cursor: pointer;
}

.role:hover .icon {
  fill: #218ffe;
}

.role:hover .text {
  color: #218ffe;
}

.icon {
  height: 24px;
  width: 24px;
  fill: #FA9C1D;
  stroke: black;
  stroke-width: 0;
}

.dark-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 12;
}

.hero-details {
  position: absolute;
  width: 80%;
  background: #405275;
  text-align: center;
  border: solid black;  
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.close-button {
  top: -50px;
  left: -50px;
  position: absolute;
}

.close-button svg:hover {
  cursor: pointer;
}