@font-face {
  font-family: 'Big Noodle Titling';
  src: url(fonts/big_noodle_titling.ttf) format('truetype');
}

@font-face {
  font-family: 'Big Noodle Titling Oblique';
  src: url(fonts/big_noodle_titling_oblique.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Big Noodle Titling Oblique';
  font-size: 2em;
  text-align: center;
}

.hero-card {
  text-align: center;
  margin: 15px;
  border: solid #222;
  padding: 12px;
}

.hero-gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}